/*========================*/
/* THE MIDDLE FACTS CONTAINER */
/*========================*/

.facts-container {
    height: auto;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden; 
    white-space: nowrap; 
    overflow-wrap: break-word;
}

.fact {
    /* -- */
    width: 30vh;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1.5vh;
    background-color: white;
    display: inline-block;
    border-radius: 5%;
    text-align:center;
    vertical-align: top;
    padding-top: 2%;
    color: var(--green5);
    
}

.fact-title {
  font-size: 100%;
}

.fact-value {
    font-size: 4vh;
}

/*========================*/
/* THE TABLE DIVS*/
/*========================*/

div.dbTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  .divTable.dbTable .divTableCell, .divTable.dbTable .divTableHead {
    border: 1px solid #AAAAAA;
    padding: 7px 10px;
  }
  .divTable.dbTable .divTableBody .divTableCell {
    font-size: 13px;
    color: #203113;
  }
  /* ---- the edit buttons in the table --- */
  .divTable.dbTable .divTableBody .divTableCell ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .divTable.dbTable .divTableBody .divTableCell li a {
    text-align: center;
    display: block;
    color: white;
    background-color: #A8A8A8;
    padding: 1px 0px 1px 0px;
    text-decoration: none;
    border-radius: 5px;
    /* font-weight: 600; */
  }

  .divTable.dbTable .divTableBody .divTableCell li a:hover {
    background-color: #559E54;
    color: white;
  }
  /* --------------------------------------- */
  .divTable.dbTable .divTableRow:nth-child(even) {
    background: #E8F3E8;
  }
  .divTable.dbTable .divTableHeading {
    background: #559E54;
    background: -moz-linear-gradient(top, #7fb67f 0%, #66a765 66%, #559E54 100%);
    background: -webkit-linear-gradient(top, #7fb67f 0%, #66a765 66%, #559E54 100%);
    background: linear-gradient(to bottom, #7fb67f 0%, #66a765 66%, #559E54 100%);
    border-bottom: 2px solid #444444;
  }
  .divTable.dbTable .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #92C591;
  }
  .divTable.dbTable .divTableHeading .divTableHead:first-child {
    border-left: none;
  }
  
  .dbTable .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #92C591;
    background: -moz-linear-gradient(top, #add3ac 0%, #9dca9c 66%, #92C591 100%);
    background: -webkit-linear-gradient(top, #add3ac 0%, #9dca9c 66%, #92C591 100%);
    background: linear-gradient(to bottom, #add3ac 0%, #9dca9c 66%, #92C591 100%);
    border-top: 2px solid #444444;
  }
  .dbTable .tableFootStyle {
    font-size: 14px;
  }
  .dbTable .tableFootStyle .links {
       text-align: right;
  }
  .dbTable .tableFootStyle .links a{
    display: inline-block;
    background: var(--green5);
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

  .dbTable .tableFootStyle .links p{
    display: inline-block;
    color: var(--green5);
    padding-left: 0px;
    padding-right: 0;
    border-radius: 5px;
    margin: 0;
  }

  .dbTable.outerTableFooter {
    border-top: none;
  }
  .dbTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px; 
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}

/*========================*/
/* THE RIGHT SIDE FORM CONTAINER*/
/*========================*/
  .workspace-parent-form-container {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 10px;
    background-color: var(--green3);
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid var(--green2);
  }

  .form-outcome-container p{
    height: auto;
    padding: 0;
    margin: 0 0 5% 0;
    text-align: center;
    font-size: .8em;
    border-bottom: 5px gray;
  }


  .workspace-child-form-input-container {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
  }

  .workspace-child-form-input-container input {
    width: 100%;
    padding: 5px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  /* ----------------------- */
  .workspace-child-form-actions-container {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }

  .workspace-child-form-actions-container ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .workspace-child-form-actions-container li a {
    text-align: center;
    display: block;
    color: white;
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    background-color: #A8A8A8;
    margin-bottom: 8px;
    border-radius: 5px;
  }

  .workspace-child-form-actions-container li a:hover {
    background-color: #555;
    color: white;
  }
